<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.hostlib">

    <application>
        <provider
            android:name=".ProcessP1" android:process=":p1"
            android:authorities="$applicationId.p1"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".ProcessMapping"
            android:authorities="${applicationId}.mapping"
            android:enabled="true"
            android:exported="false"/>

        <service android:name=".PluginManagerService" />
    </application>

</manifest>